*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #222;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.crud{
    width: 80%;
    margin: auto;
}

.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}


input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: white;
}

input:focus{
    background-color: rgb(0, 0, 0);
    transform: scale(1.03);
}

.price input{
    width: 20%;
}

#total{
    border: 1px black solid;
    background-color: #940e0e;
    padding: 5px 3px;
    border-radius: 4px;
}

#total::before{
    content: 'Total: ';
}

button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: #310044;
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
}

button:hover{
    background-color: #44045e;
    letter-spacing: 2px;
}

.btnSearch{
    display: flex;
    justify-content: space-between;
}

.btnSearch button{
    width: 42%;
}

table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

th, th{
    padding: 5px;
}


#delateAll{
    margin: 10px 0;
}